@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Email Confirmation</h1>

please check your mailbox an email that contains the validation link has been sent to you !

